@import 'config';
@import 'menu';
@import 'mobile';

html,body{
  margin: 0;
  background-color: rgb(0, 0, 0);
}
header{
  height: 350px;
  margin-left:402px ;
  margin-right: 160px;  
  margin-top: auto;
  overflow: hidden;  
  background-position: center center;
  opacity:50% ;
  h1{
    color: aliceblue;
    padding-left: 50px;
  }
}
.right{
  width: 160px;
  height: 100%;
  position: fixed;
  right: 0px;
  top:0px;
  background-position: center center;
  opacity: 30%;
}
#nav-bar{
  margin-left:402px ;
  margin-right: 160px;
  background-color: rgb(228, 211, 211);
  
  .int-div{
    height: 40px;
    padding: 10px;
    text-align: center;    
  }
  ul{
 
    list-style: none;
  }
  li{
    display: inline;
  }
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    @include easeOut;
    &:hover{
      //background-color: rgb(85, 13, 219);
      color:rgb(255, 0, 221);
      padding: 5px;
      border-radius: 5px;
    }
  }
}
@import 'left-nav';
@import 'content';
@import 'bank';
@import 'footer';


